{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Текст вопроса</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr class="clickable-row" data-href="/site/questions/{{ question.id }}">
                <th scope="row">{{ question.id }}</th>
                <td>{{ question.text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let rows = document.querySelectorAll(".clickable-row");
            rows.forEach(function(row) {
                row.addEventListener("click", function() {
                    window.location.href = this.getAttribute("data-href");
                });
            });
        });
    </script>

{% endblock %}
