{% extends "base.html" %}

{% block title %}Добавить геолокацию{% endblock %}

{% block content %}
    <form id="geoposForm" action="/site/geoposes/add" method="post">
        <div class="container mt-4">
            <h2>Добавить геолокацию</h2>

            <!-- Шаг 3: Добавить геолокацию -->
            <div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Широта</label>
                    <input type="number" step="any" class="form-control" id="latitude" name="latitude" required>
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Долгота</label>
                    <input type="number" step="any" class="form-control" id="longitude" name="longitude" required>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Описание</label>
                    <input type="text" step="any" class="form-control" id="desc" name="desc">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
    </form>
{% endblock %}
